* {
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    width: 100%;
    font-family: Gilroy;
}

.main {
    width: 100vw;
    overflow: hidden !important;
    overflow-x: hidden !important;
}

.nav-bar {
    height: 20vh;
    width: 100vw;
    background-color: #F7F7F7;
}

.nav-part1 {
    height: 5vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0vw 3vw;
}

.icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1vw;
    cursor: pointer;
}

.navpart1-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.7vw;
    font-family: nike;
    font-weight: 400;
    font-size: 0.8vw;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.navpart1-content p:hover {
    color: #767575;
}


.vertical-line {
    height: 1.7vh;
    width: 0.01vw;
    background-color: #000;
}

.nav-part2 {
    height: 8vh;
    width: 100vw;
    background-color: #fff;
    padding: 0vw 2.8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nike-logo img {
    width: 8vw;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
}

.icon {
    display: none;
}

.navpart2-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2vw;
    margin-left: 12vw;
}

.navpart2-about h4 {
    font-weight: 600;
    font-size: 1.1vw;
    letter-spacing: -0.03vw;
    cursor: pointer;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}

.navpart2-about h4:hover {
    text-decoration: underline;
}

.navpart2-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.7vw;
}

.navpart2-content i {
    font-size: 1.5vw;
}

.heart-icon {
    height: 5vh;
    width: 2.5vw;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.heart-icon:hover {
    background-color: #d5d3d3;
}

.search-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 5.2vh;
    width: 10.5vw;
    background-color: #F7F7F7;
    gap: 0.1vw;
    border-radius: 50px;
    padding: 0vw 0.7vw;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.search-box i {
    font-size: 1.3vw;
}

.search-icon {
    height: 5vh;
    width: 2.5vw;
    border-radius: 50%;
    margin-left: -0.6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.search-icon:hover {
    background-color: #d3d2d2;
}

.search-box:hover {
    background-color: #e4e2e2;
}

.search-box h6 {
    font-family: font;
    font-weight: 400;
    font-size: 1.05vw;
    color: #767575;
}

.nav-part3 {
    height: 9vh;
    width: 100vw;
    background-color: #F7F7F7;
    display: -webkit-box;
    font-weight: 500;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10vw;
}

.nav-part3 i {
    font-size: 1.7vw;
    color: #aaa9a9;
    cursor: pointer;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.nav-part3 i:hover {
    color: #000;
}

 

.nav-part3 p span {
    font-size: 0.9vw;
    letter-spacing: -0.1vh;
    margin-left: 0.5vw;
    text-decoration: underline;
    cursor: pointer;
}

.nav-part4 {
    display: none;
}

.filter-option {
    display: none;
}

.home {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1vw;
}

.home-left {
    display: initial;
    height: 100vh;
    width: 20vw;
    padding: 1vw 3vw;
    overflow: hidden;
    overflow-y: auto;
    border-right: 2px solid  rgb(89, 79, 79);
    border-top: 2px solid  rgb(89, 79, 79);
}

.parts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    overflow-y: auto;
    overflow-x: hidden;
}

.parts::-webkit-scrollbar-track {
    background: #adadad;
    border-radius: 5px;
}

.parts::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 5px;
}

.new-head h4 {

    font-weight: 700;
    font-size: 1.5vw;
}

.categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.8vw;
    padding: 1.7vw 0vw;
    cursor: pointer;
}

.categories h6 {
    font-size: 1.1vw;
    font-weight: 400;
    width: 10vw;
    text-align: left;
    height: 5vh;
    background-color: rgb(89, 79, 79);
    line-height: 1.5vw;
    border-radius: 4px;
    color: white;
    padding-top: 8px;
    padding-left: 10px;
}

.filters {
    width: 13vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

.filter {
    width: 13vw;
    border-top: 0.1vw solid #e4e2e2;
}

summary {
    height: 8vh;
    width: 13vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;

    font-weight: 600;
    padding-top: 15px;
    font-size: 1.1vw;
}

summary i {
    width: 10vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 1.5vw;
    color: #000;
    font-weight: 900;
}

.filter-parts {
    display: none;
}

.options {
    padding-bottom: 1.5vh;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    
}

.category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0.5vw;
    gap: 0.5vw;
    cursor: pointer;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.category h6 {
    font-size: 1vw;
    font-weight: 400;
    font-family: font;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;

    transition: all ease 0.5s;
}

.category h6:hover {
    color: #737272;
}

.box {
    height: 2.7vh;
    width: 1.4vw;
    border: 0.01vw solid rgb(137, 136, 136);
    border-radius: 0.3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.box i {
    font-size: 1.2vw;
    font-weight: 900;
    color: #fff;
}

.active {
    background-color: #000;
}

.colors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-bottom: 1.3vw;
    cursor: pointer;
    margin-left: -2vw;
}

.color-name {
    height: 4.2vh;
    width: 2vw;
    border-radius: 50%;
    background-color: #000000;
}

.color:nth-child(2) .color-name {
    background-color: white;
    border: 0.1vw solid #d5d3d3;
}

.color:nth-child(3) .color-name {
    background-color: rgb(0, 174, 255);
}

.colors:nth-child(3) .color:nth-child(1) .color-name {
    background-color: brown;
}

.colors:nth-child(3) .color:nth-child(2) .color-name {
    background-color: green;
}

.colors:nth-child(3) .color:nth-child(3) .color-name {
    background-color: grey;
}

.colors:nth-child(4) .color:nth-child(1) .color-name {
    background-color: goldenrod;
}

.colors:nth-child(4) .color:nth-child(2) .color-name {
    background-color: orangered;
}

.colors:nth-child(4) .color:nth-child(3) .color-name {
    background-color: pink;
}

.colors:nth-child(5) .color:nth-child(1) .color-name {
    background-color: purple;
}

.colors:nth-child(5) .color:nth-child(2) .color-name {
    background-color: red;
}

.colors:nth-child(5) .color:nth-child(3) .color-name {
    background-color: yellow;
}

.color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.color h6 {
    font-size: 0.8vw;
    font-weight: 500;
    color: #666565;
}

.right-part {
    width: 0.5vw;
    position: relative;
}

.home-right {
    height: 100vh !important;
    width: 80vw;
    margin-left: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: scroll;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-x: hidden;

}

.home-right::-webkit-scrollbar {
    display: none;
}

.sorting {
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    gap: 2.5vw;
    margin-right: -3.5vw;
}

.sorting h6 {
    font-weight:500;
    margin-top: 15px;
    font-size: 1.1vw;
    text-align: right;
    cursor: pointer;
}

.sorting h6 i {
    font-weight: 900;
}

#arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: font;
    font-weight: 500;
    font-size: 1.1vw;
}

#arrow i {
    margin-left: 4.2vw;
}

#show {
    display: none;
}

.sort-options h6 {
    font-size: 1vw;
    font-weight: 600;
    text-align: end;
}

.new-shoes {
    scale: 0;
}

.shoes-boxes {
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1vw;
    padding-right: 4vw;
    padding-bottom: 4vw;
}

.shoes-boxes:nth-child(2) {
    padding-bottom: 2vw;
}

.shoe-box {
    height: 100%;
    width: 33vw;
    cursor: pointer;
 
}

.shoe-box img {
    height: 75%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.shoe-description h4 {
    font-size: 1.1vw;
    font-weight: 400;
    width: 16vw;
}

.shoe-description h4 span {
    font-size: 0.8vw;
}

.shoe-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1vw;
}

.shoe-price h5 {
    font-size: 1vw;
    font-weight: 900;
}

.shoe-price h5 span {
    color: #aaa9a9;
    text-decoration: line-through;
}

.shoe-price h4 {
    font-size: 0.8vw;
    font-weight: 900;
    color: rgb(201, 3, 3);
}

.shoe-color {
    padding-top: 1.2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.8vw;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    scale: 0;
}

.shoe-color img {
    height: 5vh;
    width: 2.5vw;
}

.shoe-color img:hover {
    border: 0.1vw solid rgb(203, 202, 202);
}
 




.wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style: none;
    margin-top: 1em;

}

.wrapper .icon {
    position: relative;
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 50%;

    padding: 10px;
    margin: 10px 6px;
    width: fit-content;
    height: fit-content;
    font-size: 2vh;
    width: 5vh;
    height: 5vh;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: transparent;
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer-last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 8vh;
    width: 100%;
    text-align: center;
}

.footer-content>h4:nth-child(1) {
    font-weight: 600;
}

#footer-p1>h5 {
    font-size: 1.1vw;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 600;
}



/* RESPONSIVE */

@media (max-width:600px) {
    .nav-bar {
        height: 15vh;
        width: 100vw;
        background-color: #F7F7F7;
    }

    .nav-part1 {
        display: none;
    }

   
.nike-logo img {
    width: fit-content;

height: 2vh;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}


    .navpart2-about {
        display: none;
    }

    .heart-icon {
        display: none;
    }

    .search-box {
        display: none;
    }

    .search-box i {
        font-size: 1.3vw;
    }

    .logo {
        padding: 0 2vw;
        width: 100vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .icon {
        display: initial;
    }

    .icon i {
        margin-right: 3vw;
        font-size: 6vw;
        color: #757474;
    }

    .nav-part3 i {
        display: none;
    }

    .nav-part3 p span {
        font-size: 3.5vw;
        cursor: pointer;
    }

    .close-icon i {
        font-size: 7.5vw;
        margin-left: 57vw;
    }

    .new-things {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        gap: 12vw;
        margin-bottom: 4vw;
    }

    .navpart4-content h4 {
        font-weight: 100;
        font-family: font;
        text-transform: uppercase;
        font-size: 5.8vw;
    }

    .new-things i {
        font-size: 7vw;
    }

    .para p {
        font-size: 5vw;
        font-family: font;
        font-weight: 100;
        line-height: 6.5vw;
    }

    .para button {
        padding: 1.2vw 3vw;
        border-radius: 10vw;
        font-size: 4vw;
        border: none;
        margin-top: 8vw;
    }

    .btn-1 {
        background-color: #000;
        color: #fff;
    }

    .btn-2 {
        background-color: #fff;
        margin-left: 5vw;
    }

    .block {
        font-family: font;
        font-size: 4vw;
        text-transform: capitalize;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 5vw;
    }

    .block h4 i {
        font-size: 6vw;
        margin-right: 5vw;
    }

    .filter-option {
        display: none;
    }

    .filter-option button {
        padding: 1.5vw 5vw;
        font-size: 4vw;
        font-weight: 100;
        border-radius: 50px;
        background-color: #fff;
        border: 1px solid #cbcbcb;
        margin-left: 20vw;
        margin-top: 4vw;
    }

    .filter-option button i {
        margin-left: 2vw;
    }

    .home {
        position: relative;
        height: -webkit-fit-content !important;
        height: -moz-fit-content !important;
        height: fit-content !important;
        width: 100vw;
    }

    .home-left {
        width: 0;
        scale: 0;
    }

    .home-right {
        width: 100vw;
        margin: 0;
        padding: 0;
        margin-right: 1vh !important;
    }

    .close {
        height: 4vh;
        width: 8vw;
        border-radius: 50%;
        background-color: #000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-left: 75vw;
        margin-bottom: 3vw;
    }

    .close i {
        color: #fff;
        font-size: 5.5vw;
    }

    .filter-parts .categories {
        display: none;
    }

    .filter-parts .filters {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 4vw;
    }

    .filter-parts .filter {
        border-bottom: 1px solid #f7f7f7;
        width: 90vw;
    }

    .filter-parts .filter summary {
        margin-top: 2vw;
    }

    .filter-parts .filter:nth-child(1) {
        border-top: none;
    }

    .filter-parts .category .box {
        height: 2.5vh;
        width: 4.7vw;
        border-radius: 2px;
    }

    .filter-parts .category .box i {
        font-size: 5vw;
    }

    .filter-parts .category h6 {
        font-size: 4.3vw;
        margin-left: 2vw;
    }

    .filter-parts .category {
        margin-top: 1vw;
    }

    .filter-parts .colors {
        margin-bottom: 3vh;
    }

    .filter-parts .color-name {
        height: 4vh;
        width: 8.3vw;
    }

    .filter-parts .color {
        margin-top: 1.5vw;
        margin-left: -4vw;
    }

    .filter-parts .color h6 {
        font-size: 3.5vw;
        margin-top: 0.5vh;
    }

    .new-shoes h4 {
        font-weight: 100;
        margin-left: 6vw;
    }

    .sorting {
        padding-top: 2em;
        height: 5vh;
    }

    .sorting h6 {
        font-family: font;
        font-weight: 100;
        font-size: 3vw;
        cursor: pointer;
    }

    .sorting h6 i {
        font-weight: 900;
        font-size: 3vw;

    }

    #arrow {
        margin-right: 1.5em;
        font-size: 3vw;
    }

    .shoes-container {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .shoes-boxes {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 40vh;
        gap: 1em;


    }

    .shoe-box {
        width: 50vw;
        height: 25vh;
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

    }

    .shoes-boxes .shoe-box:nth-child(3) {
        scale: 0;
    }

    .shoe-description {
        padding-left: 2vw;
    }

    .home-left {
        display: none;
    }

    .shoe-description h4 {
        font-size: 3vw;
        width: 50vw;
        line-height: 3vw;
        margin-top: 2vw;
    }

    .shoe-description h4 span {
        font-size: 2.7vw;
    }

    .shoe-price {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 3vw;
        margin-top: 2vw;
    }

    .shoe-price h5 {
        font-size: 3.5vw;
        font-family: font;
        font-weight: 900;
    }

    .shoe-price h4 {
        font-size: 2.5vw;
        font-weight: 900;
        color: rgb(201, 3, 3);
        margin-top: 0;
    }

    .shoe-box img {
        width: 49vw;
    }

     
     
    .footer {
        height: 100vh;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }

    #footer-p1 {
        width: 30vw;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }

    #footer-p1 {
        margin-top: 2em;
        width: 100vw;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        margin-left: 0;
    }

    #footer-p1 {
        scale: 1;
    }

    .content h4 {
        font-weight: 500;
    }



    .wrapper {
        margin-top: 0;
        background-color: transparent;
        margin-bottom: 1em;
    }

    .wrapper .icon {
        -webkit-box-shadow: none !important;
        box-shadow: none;
        -webkit-transition: none;
        -o-transition: none;
    }

    .footer-1 {
        width: 100vw;
        height: 10vh;
        margin: 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: space-evenly;
        gap: 5vw;
    }

    .footer-part {
        justify-content: space-between;
    }

    .footer-part img {
        width: 13vw !important;
        height: 5vh !important;
    }

    .footer-part h4 {
        font-size: 3.5vw !important;
    }

    .footer-2 {
        height: 85vh !important;
        margin-top: 4em;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        gap: 3vw;
        padding-left: 2%;
        justify-content: space-evenly;
    }

    .footer-2 h4 {
        font-size: 3vw !important;
    }



    .content h4 {
        font-size: 3vw !important;
        font-weight: 500;
    }


    .footer-3 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 5vw;
    }

    .footer-3 h4 {
        font-size: 3vw !important;
    }

    .footer-3 p {
        font-size: 2.5vw !important;
    }


    #footer-p1>h5 {
        font-size: 3.5vw !important;
        font-weight: 100;
        text-transform: capitalize;
        cursor: pointer;
        font-weight: 700;
    }

    .footer-last {
        margin-top: -4vh;
    }

}

#hoverimg{
    position: absolute;
    top: 0;
    z-index: 10;
    opacity: 0;
}